<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <div>
        <header>
            <div id="data-holder" data-mydata="[[${routeList}]]"></div>
            <div class="items">
                <a class="navItems" th:each="item : ${routeList}" th:href="${item.path}" th:text="${item.name}">Link</a>
            </div>
        </header>

    </div>
    <script th:src="@{/js/script.js}"></script>
</body>

</html>